 * {
     margin: 0;
 }

 body{
    font-family: Arial, Helvetica, sans-serif;
 }
 header{
    background: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 800px;
    padding: 10px 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
 }

 header img{
    width: 150px;
    padding: 10px 0;
 }

 header div{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
 }

 header i{
    font-size: 20px;
    color:  rgb(122, 122, 122);
 }

 #resume {
    display: inline-block;
    text-align: center;
    width: 170px;
    padding: 10px 0;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 30px;
    font-size: 14px;
 }

 .profileLogo{
    background-color: red;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    display: inline-block;
    width: 35px;
    height: 35px;  
    align-content: center;
    border-radius: 50%;
    text-align: center;
 }

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0px 100px;
    margin: auto;
        
}
main{
    width: 70%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 40px;
    margin: 60px 0;
}
main nav{
    align-self: start;
    border-bottom: 1px solid gainsboro;
    width: 90%;
    margin-left: 50px ;
}
main nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;

}
main nav ul li{
    padding: 10px;
}
main nav ul li:last-of-type{
    background-color: #fff;
    border-bottom: 2px solid black;
}
aside{
    width: 30%;
    border-left: 1px solid gainsboro;
    display: flex;
    flex-direction: column;  
    padding: 0 50px;
    gap: 20px;
}
main .card{
    display: flex;
    width: 90%;
    align-items: center;
    gap: 40px;
    padding: 15px ;
    
}
main .card img{
    width: 220px;
    height: 150px;
    object-fit: cover;
    border: 2px solid;
    
}
.cardLeft{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.userInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.userInfo .userLogo{
    width: 25px;
    height: 25px;
    background-color: brown;
    border-radius: 50%;
}

.userInfo .userName{
    font-size: 14px;
    font-weight: 600;
}

.bottom{
    display: flex;
    justify-content: space-between;
   
}

.bottomLeft{
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: grey;
    align-items: center;
}

.bottomRight{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottomRight i{
    font-size: 20px;
}
.topicInfo{
    background-color: rgb(242, 242, 242);
    padding: 7px;
    border-radius: 20px;
}

.card p{
    color: grey;
}

.textWrapper h2{
    font-size: 28px;
    font-weight: 700;
}

.textWrapper p{
    font-size: 18px;
    margin-top: 10px;
    white-space: wrap;
    text-overflow: ellipsis;
}

.discoverSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.discoverIcons{
    display: flex;
    justify-items: center;
    align-items: center;
}


.discoverIcons div{
    width: 30px;
    height: 30px;
    border: 1px solid;
    overflow: hidden;
    display: inline-block;
}

.discoverIcons div img{
    width: 350%;
    height: 100%;
}

.discoverIcons + P {
    width: 80%;
    text-align: center;
    font-size: 1em;
}
.linkWrapper{
    
}
.linkWrapper i{
    
    margin-right: 10px;
}
.fa-twitter{
    color: rgb(55, 162, 244);
    font-size: 1.5em;
}

.fa-plus{
    color: rgb(142, 142, 142);;
}
.linkWrapper a{
    text-decoration: none;
    padding: 10px;
    padding-right: 40px;
    background-color: #fff;
    border-radius: 20px;    
    color: black;
    font-weight: 400;
    border: 1px solid rgb(142, 142, 142);;
}

.discoverSection p:last-of-type{
    text-decoration: underline;
    font-size: 0.9em;
    color: rgb(142, 142, 142);
}

.recommendedSection p{
    font-size: 1.1em;
    font-weight: 700;    
}

.topics{
    
}

#topics ul {
   list-style: none;
   padding: 0;
}

